<html>
  <%= erb :'includes/head' %>

  <body>

    <a href="/">
      Homepage
    </a>

    <%= erb :'includes/nav' %>

    <h1>
      <%= @title.gsub(/[0-9]+-/, "") %>
    </h1>

    <%= yield %>

    <%= erb :'includes/footer' %>

  </body>
</html>