<html>
  <%= erb :'includes/head' %>

  <body>

    <h2>
      Single item: <%= @title %>
    </h2>

    <%= yield %>

    <hr>

    <a href="/">
      Homepage
    </a>

    <%= erb :'includes/nav' %>

    <%= erb :'includes/footer' %>

  </body>
</html>