
  <h1>
    Ability Listing: <%= @ability.capitalize %>
  </h1>

  <% @ability_descr.each do |item| %>
  
    <% if item['language']['name'] == 'en'  %>
      <p>
        <strong>Short version:</strong> <%= item['short_effect'] %>
      </p>

      <p>
        <strong>Long version:</strong> <%= item['effect'] %>
      </p>
    <% end %>
  <% end %>

  <ul>
    <% @pokemon.each do |entry| %>

      <li>
        <a href="/pokemon/<%= entry['pokemon']['url'].split("/")[6].to_i %>">
          <%= entry['pokemon']['name'].capitalize.sub('-', ' ') %> - <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%= entry['pokemon']['url'].split("/")[6].to_i %>.png" alt="">
        </a>

        <br>
        <br>

        <% if entry['is_hidden'] %>
          Hidden ability
        <% end %>
      </li>

    <% end %>
  </ul>
