<html>
  <head>
    <title>Pokemon #<%= @id %>: <%= @name %></title>
    <link rel="stylesheet" href="css/main.css">
  </head>

  <body>
    
    <h1>
      #<%= @id %>: <%= @name %>
    </h1>

    <ul>
      <% @abilities.each do |item| %>
        <li>
          <%= item["ability"]["name"] %> (<%= item["is_hidden"] %>) - <%= item["description"] %>
        </li>
      <% end %>
    </ul>

    <img src="<%= @sprite_url_regular %>">
    <img src="<%= @sprite_url_shiny %>">

    <p>
      Descriptions:
    </p>
    <ul>
      <% @descriptions_english.each do |item| %>
        <li>
          <%= item["game"] %>: <%= item["flavor_text"] %>
        </li>
      <% end %>
    </ul>

    <p>
      Types:
    </p>
    <ul>
      <% @types.each do |type| %>
        <li>
          <a href="/type/<%= type %>">
            <%= type %>
          </a>
        </li>
      <% end %>
    </ul>

    <p>
      Stats:
    </p>
    <ul>
      <% @full_stats.each do |name, value| %>
        <li>
          <%= name %>: <%= value %>
        </li>
      <% end %>
    </ul>

    <p>
      <a href="/pokemon/<%= @prev_id %>">Previous Pokemon</a>
    </p>

    <p>
      <a href="/pokemon/<%= @next_id %>">Next Pokemon</a>
    </p>

    <p>
      <a href="/">Home</a>
    </p>
</body>
</html>