<html>
  <head>
    <title>Pokemon #<%= @id %>: <%= @name %></title>
    <link rel="stylesheet" href="css/main.css">
  </head>

  <body>
    
    <h1>
      #<%= @id %>: <%= @name %>
    </h1>

    <h4>
      Color: <%= @color %>
    </h4>

    <h4>
      Growth Rate: <%= @growth_rate %>
    </h4>

    <ul>
      <% @abilities.each do |item| %>
        <li>
          <%= item["ability"]["name"] %> (<%= item["is_hidden"] %>) - <%= item["description"] %>
        </li>
      <% end %>
    </ul>

    <img src="<%= @sprite_url_regular %>">
    <img src="<%= @sprite_url_shiny %>">

    <p>
      Evolutions
    </p>

    1: <a href="/pokemon/<%= @evolution_start %>"><%= @evolution_start %></a>

    <br>

    <% @evolution_chain.each do |item| %>
      2: <a href="/pokemon/<%= item['species']['name'] %>"><%= item['species']['name'] %></a> via <%= item['evolution_details'][0]['trigger']['name'] %>

      

      <br>

      <% item['evolves_to'].each do |item2| %>

        3: <a href="/pokemon/<%= item2['species']['name'] %>"><%= item2['species']['name'] %></a> via <%= item2['evolution_details'][0]['trigger']['name'] %>
      <% end %>
    <% end %>

    <p>
      Types:
    </p>
    <ul>
      <% @types.each do |type| %>
        <li>
          <a href="/type/<%= type %>">
            <%= type %>
          </a>
        </li>
      <% end %>
    </ul>

    <p>
      Stats:
    </p>
    <ul>
      <% @full_stats.each do |name, value| %>
        <li>
          <%= name %>: <%= value %>
        </li>
      <% end %>
    </ul>

    <p>
      Descriptions:
    </p>
    <ul>
      <% @descriptions_english.each do |item| %>
        <li>
          <strong><%= item["game"] %>:</strong> <%= item["flavor_text"] %>
        </li>
      <% end %>
    </ul>


    <p>
      <a href="/pokemon/<%= @prev_id %>">Previous Pokemon</a>
    </p>

    <p>
      <a href="/pokemon/<%= @next_id %>">Next Pokemon</a>
    </p>

    <p>
      <a href="/">Home</a>
    </p>
</body>
</html>