<html>
  <head>
    <title>Pokemon #<%= @id %>: <%= @name %></title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>

  <body>
    
    <h1>
      #<%= @id %>: <%= @name %>
    </h1>

    <h4>
      Color: <a href="/color/<%= @color %>"><%= @color %></a>
    </h4>

    <h4>
      Growth Rate: <%= @growth_rate %>
    </h4>

    <ul>
      <% @abilities.reverse.each do |item| %>
        <li>
          <a href="/ability/<%= item["id"] %>">
            <%= item["ability"]["name"] %>
          </a> - <%= item["description"] %> 

          <% if item["is_hidden"] %>
            <strong>
              (Hidden ability)
            </strong>
          <% end %>
        </li>
      <% end %>
    </ul>

    <img src="<%= @sprite_url_regular %>">
    <img src="<%= @sprite_url_shiny %>">

    <p>
      Evolutions
    </p>

    1: <a href="/pokemon/<%= @evolution_start %>"><%= @evolution_start %></a>

    <br>

    <% @evolution_chain.each do |item| %>
      2: <a href="/pokemon/<%= item['species']['name'] %>"><%= item['species']['name'] %></a>

        <% if item['evolution_details'][0]['trigger']['name'] == 'level-up' %>
          
          Level up 
          
        <% end %>

        

        <% if item['evolution_details'][0]['trigger']['name'] == 'trade' %>
          
          Trade 
          
        <% end %>

        

        <% if item['evolution_details'][0]['trade_species'] %>
          
          with <%= item['evolution_details'][0]['trade_species']['name'] %> 
          
        <% end %>

        

        <% if item['evolution_details'][0]['min_level'] %>
          
          on level <%= item['evolution_details'][0]['min_level'] %> 
          
        <% end %>

        

        <% if item['evolution_details'][0]['min_happiness'] %>
          
          with happiness 
          
        <% end %>

        

        <% if item['evolution_details'][0]['min_beauty'] %>
          
          with max beauty 
          
        <% end %>

        

        <% if item['evolution_details'][0]['held_item'] %>
          
          while holding <%= item['evolution_details'][0]['held_item']['name'] %> 
          
        <% end %>

        

        <% if item['evolution_details'][0]['item'] %>
          
          with <%= item['evolution_details'][0]['item']['name'] %> 
          
        <% end %>

        

        <% if item['evolution_details'][0]['time_of_day'] != "" %>
          
          at <%= item['evolution_details'][0]['time_of_day'] %> 
          
        <% end %>

        

        <% if item['evolution_details'][0]['gender'] %>

          <% if item['evolution_details'][0]['gender'] == 1 %>

            if female 

          <% elsif item['evolution_details'][0]['gender'] == 2 %>

            if male 

          <% end %>
          
        <% end %>



        <% if item['evolution_details'][0]['relative_physical_stats'] %>

          <% if item['evolution_details'][0]['relative_physical_stats'] == 1 %>

            with higher attack than defense 

          <% elsif item['evolution_details'][0]['relative_physical_stats'] == -1 %>

            with higher defense than attack 

          <% elsif item['evolution_details'][0]['relative_physical_stats'] == 0 %>

            with equal attack and defense 

          <% end %>
          
        <% end %>

        

        <% if item['evolution_details'][0]['location'] %>
          
          at <%= item['evolution_details'][0]['location']['name'] %> 
          
        <% end %>

        

        <% if item['evolution_details'][0]['known_move'] %>
          
          while knowing <%= item['evolution_details'][0]['known_move']['name'] %> 
          
        <% end %>

        

        <% if item['evolution_details'][0]['min_affection'] %>
          
          with <%= item['evolution_details'][0]['min_affection'] %> affection hearts 
          
        <% end %>

      

      <br>

      <% item['evolves_to'].each do |item2| %>

        3: <a href="/pokemon/<%= item2['species']['name'] %>"><%= item2['species']['name'] %></a>

          <% if item2['evolution_details'][0]['trigger']['name'] == 'level-up' %>
          
            Level up 
            
          <% end %>

          

          <% if item2['evolution_details'][0]['trigger']['name'] == 'trade' %>
            
            Trade 
            
          <% end %>

          

          <% if item2['evolution_details'][0]['trade_species'] %>
            
            with <%= item2['evolution_details'][0]['trade_species']['name'] %> 
            
          <% end %>

          

          <% if item2['evolution_details'][0]['min_level'] %>
            
            on level <%= item2['evolution_details'][0]['min_level'] %> 
            
          <% end %>

          

          <% if item2['evolution_details'][0]['min_happiness'] %>
            
            with happiness 
            
          <% end %>

          

          <% if item2['evolution_details'][0]['min_beauty'] %>
            
            with max beauty 
            
          <% end %>

          

          <% if item2['evolution_details'][0]['held_item'] %>
            
            while holding <%= item2['evolution_details'][0]['held_item']['name'] %> 
            
          <% end %>

          

          <% if item2['evolution_details'][0]['item'] %>
            
            with <%= item2['evolution_details'][0]['item']['name'] %> 
            
          <% end %>

          

          <% if item2['evolution_details'][0]['time_of_day'] != "" %>
            
            at <%= item2['evolution_details'][0]['time_of_day'] %> 
            
          <% end %>

          

          <% if item2['evolution_details'][0]['gender'] %>

            <% if item2['evolution_details'][0]['gender'] == 1 %>

              if female 

            <% elsif item2['evolution_details'][0]['gender'] == 2 %>

              if male 

            <% end %>
            
          <% end %>



          <% if item2['evolution_details'][0]['relative_physical_stats'] %>

            <% if item2['evolution_details'][0]['relative_physical_stats'] == 1 %>

              with higher attack than defense 

            <% elsif item2['evolution_details'][0]['relative_physical_stats'] == -1 %>

              with higher defense than attack 

            <% elsif item2['evolution_details'][0]['relative_physical_stats'] == 0 %>

              with equal attack and defense 

            <% end %>
            
          <% end %>

          

          <% if item2['evolution_details'][0]['location'] %>
            
            at <%= item2['evolution_details'][0]['location']['name'] %> 
            
          <% end %>

          

          <% if item2['evolution_details'][0]['known_move'] %>
            
            while knowing <%= item2['evolution_details'][0]['known_move']['name'] %> 
            
          <% end %>

          

          <% if item2['evolution_details'][0]['min_affection'] %>
            
            with <%= item2['evolution_details'][0]['min_affection'] %> affection hearts 
            
          <% end %>
      <% end %>
    <% end %>

    <p>
      Types:
    </p>
    <ul>
      <% @types.each do |type| %>
        <li>
          <a href="/type/<%= type.downcase %>">
            <%= type %>
          </a>
        </li>
      <% end %>
    </ul>

    <p>
      Stats:
    </p>
    <ul>
      <% @full_stats.each do |name, value| %>
        <li>
          <%= name %>: <%= value %>
        </li>
      <% end %>
    </ul>

    <p>
      Descriptions:
    </p>
    <ul>
      <% @descriptions_full.reverse.each do |descr| %>
        <% if descr["language"]["name"] == "en" %>
          
          <li>
            <strong><%= descr["version"]["name"].capitalize.sub('-', ' ') %>:</strong> <%= descr["flavor_text"] %>
          </li>
        <% end %>
      <% end %>
    </ul>


    <p>
      <a href="/pokemon/<%= @prev_id %>">Previous Pokemon</a>
    </p>

    <p>
      <a href="/pokemon/<%= @next_id %>">Next Pokemon</a>
    </p>

    <p>
      <a href="/">Home</a>
    </p>
</body>
</html>