
<h1>
  #<%= @full_data["id"] %>: <%= @full_data["poke_name"] %>
</h1>


<div class="pd-l-information">

  <h4>
    Basic info
  </h4>

  <p>
    <strong>Types:</strong> 
    <% @full_data["types"].each_with_index do |type, index| %>
      <a href="/type/<%= type.downcase %>"><%= type %></a><% if index < (@full_data["types"].size - 1) %>, <% end %>
    <% end %>
  </p>

  <p>
    <strong>Color:</strong> 
    <a href="/color/<%= @full_data["color"] %>">
      <%= @full_data["color"].capitalize %>  
    </a>
  </p>

  <p>
    <strong>Growth Rate:</strong> <%= @full_data["growth_rate"].capitalize.sub('-', ' ') %>
  </p>

  <h5>
    Abilities
  </h5>

  <ul>
    <% @full_data["abilities"].reverse.each do |item| %>
      <li>
        <a href="/ability/<%= item["id"] %>">
          <%= item["ability"]["name"] %>
        </a> - <%= item["description"] %> 

        <% if item["is_hidden"] %>
          <strong>
            (Hidden ability)
          </strong>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>


<div class="pd-l-images">
  <h5 class="pd-image__title">
    Normal Sprite:
  </h5>
  <img class="pd-image__img" src="<%= @full_data["sprite_url_regular"] %>">


  <% if @full_data["sprite_url_shiny"] %>
    <h5 class="pd-image__title">
      Shiny Sprite:
    </h5>
    <img class="pd-image__img" src="<%= @full_data["sprite_url_shiny"] %>">
  <% end %>
</div>


<div class="pd-l-evolutions">

  <div>

    <div class="pd-evolutions">

    <h4 class="pd-evolutions__title">
      Evolution Chain
    </h4>

    <div class="pd-evolutions__chain">
      <div class="pd-evolutions__chainItem pd-evolutions__chainItem--first">

        <img class="pd-evolutions__chainItem__img" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%= @full_data["evolution_start_id"] %>.png">

        <span class="pd-evolutions__chainItem__descr">
          <a href="/pokemon/<%= @full_data["evolution_start"] %>">
            <%= @full_data["evolution_start"].capitalize %>
          </a>
        </span>     
      </div>
    </div>


    <div class="pd-evolutions__chain">
        
      <%= erb :'includes/evolution_chain', :locals => {
        :evolution_data => @full_data["evolution_chain"]
      } %>

    </div>


    <div class="pd-evolutions__chain">
      <% @full_data["evolution_chain"].each do |item| %>
          
        <%= erb :'includes/evolution_chain', :locals => {
          :evolution_data => item['evolves_to']
        } %>

      <% end %>
    </div>

  </div>

  </div>
</div>


<div class="pd-l-stats">

  <h4 class="pd-stats__title">
    Stats
  </h4>

  <div class="pd-stats">
    <% @full_data["full_stats"].each do |name, value| %>
      <div class="pd-stat__item">
        
        <div class="pd-stat__name">
          <%= name %>
        </div>

        <div style="width: <%= value.to_i / 2 %>%;" class="pd-stat__bar pd-stat__bar--<%= name.sub(' ', '-').downcase %>">
          <span class="pd-stat__barValue">
            <%= value %>
          </span>
        </div>
      </div>
    <% end %>
  </div>
</div>


<div class="pd-l-entries">

  <h3 class="pd-entry__title">
    Pokedex Entries
  </h3>

  <% @full_data["descriptions_full"].reverse.each do |descr| %>
    <% if descr["language"]["name"] == "en" %>

      <div class="pd-entry pd-entry--<%= descr['version']['name'] %>">
        <div class="pd-entry__game">
          <%= descr["version"]["name"].capitalize.sub('-', ' ') %>
        </div>
        <div class="pd-entry__info">
          <%= descr["flavor_text"] %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>


<div class="pd-l-bottomNav">

  <p>
    <% if @full_data["id"] > 1 %>
      <a href="/pokemon/<%= @full_data["prev_id"] %>">Previous Pokemon</a>
    <% end %>
  </p>

  <p>
    <a href="/">Home</a>
  </p>

  <p>
    <% if @full_data["id"] < @total_pokemon %>
      <a href="/pokemon/<%= @full_data["next_id"] %>">Next Pokemon</a>
    <% end %>
  </p>
</div>
