<% evolution_data.each do |item| %>

  <div class="pd-evolutions__chainItem">

    <img class="pd-evolutions__chainItem__img" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%= item['species']['url'].split("/")[6].to_i %>.png">

    <span class="pd-evolutions__chainItem__descr">

      <a href="/pokemon/<%= item['species']['name'] %>">
        <%= item['species']['name'].capitalize %>
      </a><br>

      <% if item['evolution_details'][0]['trigger']['name'] == 'level-up' %>
        
        Level up 
        
      <% end %>



      <% if item['evolution_details'][0]['trigger']['name'] == 'trade' %>
        
        Trade 
        
      <% end %>



      <% if item['evolution_details'][0]['trade_species'] %>
        
        with <%= item['evolution_details'][0]['trade_species']['name'].gsub('-', ' ') %> 
        
      <% end %>



      <% if item['evolution_details'][0]['min_level'] %>
        
        on level <%= item['evolution_details'][0]['min_level'] %> 
        
      <% end %>



      <% if item['evolution_details'][0]['min_happiness'] %>
        
        with happiness 
        
      <% end %>



      <% if item['evolution_details'][0]['min_beauty'] %>
        
        with max beauty 
        
      <% end %>



      <% if item['evolution_details'][0]['held_item'] %>
        
        while holding <%= item['evolution_details'][0]['held_item']['name'].gsub('-', ' ') %> 
        
      <% end %>



      <% if item['evolution_details'][0]['item'] %>
        
        with <%= item['evolution_details'][0]['item']['name'].gsub('-', ' ') %> 
        
      <% end %>



      <% if item['evolution_details'][0]['time_of_day'] != "" %>
        
        at <%= item['evolution_details'][0]['time_of_day'] %> 
        
      <% end %>



      <% if item['evolution_details'][0]['gender'] %>

        <% if item['evolution_details'][0]['gender'] == 1 %>

          if female 

        <% elsif item['evolution_details'][0]['gender'] == 2 %>

          if male 

        <% end %>
        
      <% end %>



      <% if item['evolution_details'][0]['relative_physical_stats'] %>

        <% if item['evolution_details'][0]['relative_physical_stats'] == 1 %>

          with higher attack than defense 

        <% elsif item['evolution_details'][0]['relative_physical_stats'] == -1 %>

          with higher defense than attack 

        <% elsif item['evolution_details'][0]['relative_physical_stats'] == 0 %>

          with equal attack and defense 

        <% end %>
        
      <% end %>



      <% if item['evolution_details'][0]['location'] %>
        
        at <%= item['evolution_details'][0]['location']['name'].gsub('-', ' ') %> 
        
      <% end %>



      <% if item['evolution_details'][0]['known_move'] %>
        
        while knowing <%= item['evolution_details'][0]['known_move']['name'].gsub('-', ' ') %> 
        
      <% end %>


      <% if item['evolution_details'][0]['party_species'] %>
        
        with <%= item['evolution_details'][0]['party_species']['name'].gsub('-', ' ') %> in party
        
      <% end %>



      <% if item['evolution_details'][0]['min_affection'] %>
        
        with <%= item['evolution_details'][0]['min_affection'] %> affection hearts 
        
      <% end %>
    </span>
  </div>
<% end %>