<ul>
  <% @nav.each do |item| %>
    <li>
      <a href="<%= item['path'] %>">
        <%= item['label'][3..-1] %>
      </a>
      <ul>
        <% item['submenu'].each do |item2| %>
          <li>
            <a href="<%= item2['path'] %>">
              <%= item2['label'] %>
            </a>
            <ul>
              <% item2['submenu'].each do |item3| %>
                <li>
                  <a href="<%= item3['path'] %>">
                    <%= item3['label'] %>
                  </a>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>

<br>
<br>
