<ul>
  <% @nav.each do |item| %>
    <li>
      <a href="<%= item['path'] %>">
        <%= item['label'][3..-1].gsub('-', ' ').capitalize %>
      </a>
      <% if item['submenu'] %>
        <ul>
          <% item['submenu'].each do |item2| %>
            <li>
              <a href="<%= item2['path'] %>">
                <%= item2['label'][3..-1].gsub('-', ' ').capitalize %>
              </a>
              <ul>
                <% if item2['submenu'] %>
                  <% item2['submenu'].each do |item3| %>
                    <li>
                      <a href="<%= item3['path'] %>">
                        <%= item3['label'][3..-1].gsub('-', ' ').capitalize %>
                      </a>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
      <% end %>
    </li>
  <% end %>
</ul>