
<<%= header %>>
  <%= label.capitalize.sub('-', ' ') %>
</<%= header %>>

<!-- The description -->
<% if File.exist?("../patternlab/lib/views/source/#{file_href}.md") %>
  <%= markdown :"source/#{file_href}" %>
<% end %>


<!-- Conditional for showing the underlying code -->
<% if pattern_href != false %>

  <!-- HTML markup of the pattern -->
  <pre>
    <code class="language-html">

<%= escape_html(erb :"source/#{file_href}")%>

    </code>
  </pre>


  <!-- The Sass partial -->
  <% if File.exist?("../patternlab/lib/assets/scss/_#{file_href.gsub('/', '/_')[3..-1]}.scss") %>

  <pre>
    <code class="language-css">

<%=
File.read("../patternlab/lib/assets/scss/_#{file_href.gsub('/', '/_')[3..-1]}.scss")
%>

    </code>
  </pre>

  <% end %>


  <!-- The containerized JS -->
  <% if File.exist?("../patternlab/lib/assets/js/#{file_href[3..-1]}.js") %>

  <pre>
    <code class="language-javascript">

<%=
File.read("../patternlab/lib/assets/js/#{file_href[3..-1]}.js")
%>

    </code>
  </pre>

  <% end %>


<% end %> <!-- End code conditional -->

<!-- The actual pattern -->
<%= erb :"source/#{file_href}" unless pattern_href == false %>


<!-- Optional link to full page page -->
<% if pattern_href == true %>
  
  <br>
  <br>

  <a href="/source/<%= file_href %>/" target="_blank">
    See this pattern in a separate page
  </a>
<% end %>

<hr>
