
<<%= header %>>
  <%= label[3..-1].capitalize.sub('-', ' ') %>
</<%= header %>>


<!-- The description -->

<!-- Conditional for showing the underlying code -->
<% if pattern_href != false %>

<%
  sass_path = "../#{@config["name"]}/lib/assets/scss/_#{asset_href.gsub('/', '/_')}.scss"
  sass_exists = File.exist?(sass_path)  

  sass_settings_path = "../#{@config["name"]}/lib/assets/scss/_settings/_#{label[3..-1].sub('-', ' ')}.scss"
  sass_settings_exists = File.exist?(sass_settings_path)

  puts sass_settings_exists

  js_path = "../#{@config["name"]}/lib/assets/js/#{asset_href}.js" 
  js_exists = File.exist?(js_path)
%>

<div class="sg-tabs">

  <div class="sg-tabs__links">
    <div tabs-link-id="info" class="sg-tabs__link sg-tabs__link--info">Info</div>

    <div tabs-link-id="html" class="sg-tabs__link sg-tabs__link--html">HTML</div>
    
    <% if sass_exists %>
      <div tabs-link-id="scss" class="sg-tabs__link sg-tabs__link--css">SCSS</div>
    <% end %>

    <% if sass_settings_exists %>
      <div tabs-link-id="vars" class="sg-tabs__link sg-tabs__link--vars">Variables</div>
    <% end %>

    <% if js_exists %>
      <div tabs-link-id="js" class="sg-tabs__link sg-tabs__link--javascript">JS</div>
    <% end %>
  </div>

  <div class="sg-tabs__content">

    <!-- Pattern Info -->
    <div class="sg-tabs__content-item sg-tabs__content-item--info" tabs-content-id="info">
      <% if File.exist?("../#{@config["name"]}/lib/views/source/#{file_href}.md") %>
        <%= markdown :"source/#{file_href}" %>
      <% else %>
        <p>
          No description found for this file. How sad :(
        </p>
      <% end %>
    </div>

    <!-- HTML markup -->
    <div class="sg-tabs__content-item sg-tabs__content-item--html" tabs-content-id="html">
      <pre>
        <code class="language-html">
<%= escape_html(erb :"source/#{file_href}")%>
        </code>
      </pre>
    </div>


    <!-- The Sass partial -->
    <% if sass_exists %>
      <div class="sg-tabs__content-item sg-tabs__content-item--css" tabs-content-id="scss">

        <pre>
          <code class="language-css">
<%=
File.read(sass_path)
%>
          </code>
        </pre>
 
      </div>
    <% end %>


    <!-- Sass Variables, if they're included -->
    <% if sass_settings_exists %>
      <div class="sg-tabs__content-item sg-tabs__content-item--vars" tabs-content-id="vars">

        <pre>
          <code class="language-css">
<%=
File.read(sass_settings_path)
%>
          </code>
        </pre>
 
      </div>
    <% end %>


    <!-- The containerized JS -->  
    <% if js_exists %>
      <div class="sg-tabs__content-item sg-tabs__content-item--javascript" tabs-content-id="js">

        <pre>
          <code class="language-javascript">
<%=
File.read(js_path)
%>
          </code>
        </pre>
 
      </div>
    <% end %>

  </div>
</div>
<% end %> <!-- End code conditional -->







<!-- The actual pattern -->
<%= erb :"source/#{file_href}" unless pattern_href == false %>


<!-- Optional link to full page page -->
<% if pattern_href == true %>
  
  <br>
  <br>

  <a href="/source/<%= file_href %>/" target="_blank">
    See this pattern in a separate page
  </a>
<% end %>

<hr>
