
<<%= header %>>
  <%= label.capitalize.sub('-', ' ') %>
</<%= header %>>


<% if File.exist?("../patternlab/lib/views/source/#{file_href}.md") %>
  <%= markdown :"source/#{file_href}" %>
<% end %>


<% if File.exist?("../patternlab/lib/assets/scss/_#{file_href.gsub('/', '/_')}.scss") %>

  <p>
    <strong>
      Sass files here! Find better SCSS template for them though...
    </strong>
  </p>

<% end %>


<%= erb :"source/#{file_href}" unless pattern_href == false %>

  <!-- <pre>
<%= escape_html(erb :"source/#{file_href}") unless pattern_href == false %>
  </pre> -->

<% if pattern_href == true %>
  
  <br>
  <br>

  <a href="/source/<%= file_href %>/" target="_blank">
    See this pattern in a separate page
  </a>
<% end %>

<hr>
