<<%= header %>>
  <%= label.capitalize.sub('-', ' ') %>
</<%= header %>>

<% if File.exist?("../patternlab/lib/views/source/#{file_href}.md") %>
  <%= markdown :"source/#{file_href}" %>
<% end %>


<a href="/source/<%= file_href %>/" target="_blank">
  Link to <%= label %> template
</a>


<br><br><br><br>


<% @pageData_files.each do |data| %>

  <% if label == data[:link_name].split("__")[0] %>

    <a href="/source/pages/<%= partial_href %>/<%= data[:link_name] %>/">
      Link to full <%= data[:label] %> example
    </a>

    <br>
    <br>

  <% end %>

<% end %>

